/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-07-2020, 11:28:57
    Author     : Enfoks
*/

.bod{ margin-left: auto;
  margin-right: auto;
  font: small-caps 100%/200% serif;
text-align: center;
  width: 60%;
  height: 60%;}


.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

body{
    background-image: url("https://recreartte.files.wordpress.com/2013/08/fondo-verde-abstracto-1.jpg");
    background-position: center center;
    background-size: cover;
    font-size:25px;
    font: small-caps 100%/200% serif;
    text-align: center;
   
}