/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-07-2020, 3:51:04
    Author     : Enfoks
*/

body{
   background-image: url("https://recreartte.files.wordpress.com/2013/08/fondo-verde-abstracto-1.jpg");
    background-position: center center;
    background-size: cover;
 
}

.centrar{
  margin-left: auto;
  margin-right: auto;
 
  font: small-caps 100%/200% serif;
  text-align: center;
   
}


.logo img{
 
  left: 7%;
  top:7%;
  height:8%;
  width:8%;
}
.accesos {
  box-shadow: 0 8px 0 0 #7ab602 inset;

 
}

@media (max-width: 550px) {
  #accesos {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }

}


#customers {
 text-align: center;
  border-collapse: collapse;
  width: 60%;
   font: small-caps 100%/200% serif;
     font-size:15px;
    
}

h2{
    font-size: 30px;
}