.letras{
    font: small-caps 100%/200% serif;
    text-align: center;
   
}


.desactivar{
    display: none;
    visibility: hidden;
    pointer-events: none; 
}

/* links sin color*/
.li{
    * {outline: none !important;}
textarea:focus, input:focus {outline: none !important;}
a {color: black; font-family: arial; text-decoration: none;}
a:hover {color: black; font-family: arial; text-decoration: none;}
a:visited {color: black; font-family: arial; text-decoration: none;}
}  

